extends iframe-layout

block mainContent
    div(id='container')
        h2=instructions
        h3=please
        div(id='instructions') 
            div!=a
            br
            div=b
            br
            div=c
            br
            div=repeat
            br
            h4 Earnings
            div=earnings
            div(style='text-align:center;padding:20px')!=profit
            br
            !=ifYouUnderstood
