extends iframe-layout

block mainContent
    div(id='container')
        h2=instructions
        h3=please
        div(id='instructions') 
            div!=thisGame
            br
            div!=repeat
            br
            h4 Earnings
            div!=earnings
            br
            div!=earningsBonus
            br
            div!=example
            br
            =ifYouUnderstood
